@font-face {
    font-family: 'zy_zheng_yuan';
    src: url('/fonts/hyzhengyuan-45w.woff2') format('woff2');
    font-weight: 400;
    font-style: light;
    font-display: swap;
}
@font-face {
    font-family: 'zy_zheng_yuan';
    src: url('/fonts/hyzhengyuan-65w.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'zy_zheng_yuan';
    src: url('/fonts/hyzhengyuan-85w.woff2') format('woff2');
    font-weight: 800;
    font-style: bold;
    font-display: swap;
}
@font-face {
    font-family: 'zy_zheng_yuan';
    src: url('/fonts/hyzhengyuan-95w.woff2') format('woff2');
    font-weight: 900;
    font-style: bolder;
    font-display: swap;
}